body {
    font-family: sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

#taskList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.task {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 300px;
}

.deleteTaskButton {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}